<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="css/detailedProject.css">
    <title>Detailed View</title>
    
  </head>
  <body>
    <div class="project">
      <div class="project-title">
        <h1><%=title%></h1>
        <a href="/" class="home-button">Go to Home Page</a>
      </div>
      <div class="project-image">
        <img src="<%=imageLink%>" alt="Project Image">
      </div>
      <div class="project-description">

        <% const paragraph=detailedDescription %>
        <% const paragraphs = paragraph.split('\n'); %>

        <% paragraphs.forEach(p => { %>
            <p><%= p %></p>
        <% }); %>

      </div>
      <div class="project-buttons">
        <a href="<%=githubLink%>">Github</a>
        <a href="<%=demoLink%>">View Demo</a>
        <a href="/">Go to Home Page</a>
      </div>
    </div>
  </body>
</html>
